---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="flex grow">
        <div class="w-full mt-4 mb-8 mx-4 sm:mx-auto sm:w-3/4 lg:w-1/2">
            <main class="flex flex-col">
                <section class="mb-4">
                    <h1 class="text-2xl font-bold my-4">Who am I</h1>
                    <div class="text-base">
                        <p>
                            I'm Anthony, a software engineer specialising within the finance domain.
                            With over 8 years experience, I've worked across various specialties such as financial risk
                            and compliance, buy-side trading and most recently I've been working within the consumer
                            payments space.
                        </p>
                    </div>
                </section>
                <section class="mb-4">
                    <h1 class="text-2xl font-bold my-4">Where I've worked</h1>
                    <div class="flex w-full flex-col items-start">
                        <div class="group flex gap-x-4">
                            <div class="relative">
                                <div class="absolute left-1/2 top-0 h-full w-0.5 -translate-x-1/2 bg-neutral-700"></div>
                                <span class="relative z-10 grid h-10 sm:h-11 w-10 sm:w-11 place-items-center rounded-full bg-neutral-700 p-0.5">
                                    <img src="/images/timeline/bridge.png"
                                         alt="Bridge Logo"
                                         class="inline-block h-full w-full rounded-full object-cover object-center"/>
                                </span>
                            </div>
                            <div class=mb-8>
                                <h2 class="text-xl font-bold">BR-DGE</h2>
                                <h3 class="text-base font-light italic text-neutral-700 mb-2">2022 -
                                    Present</h3>
                                <p class="text-base mb-2">
                                    <a class="font-bold text-storm hover:text-storm-light"
                                       href="https://br-dge.to">BR-DGE
                                        <img class="inline-block my-1 w-4 h-4 items-center"
                                             src="/images/icons/external-link.png"
                                             alt="external link"/>
                                    </a> is building the next generation in payment orchestration.
                                </p>
                                <p class="text-base">
                                    At BR-DGE, I've delivered solutions providing network tokenization features for card
                                    schemes such as Visa and Mastercard; created automated data migration pipelines that
                                    allow the transfer of sensitive customer and card data across various platforms;
                                    processor integrations with Worldpay and Checkout; and I'm currently building
                                    support for our customer cashier product.
                                </p>
                            </div>
                        </div>
                        <div class="group flex gap-x-4">
                            <div class="relative">
                                <div class="absolute left-1/2 top-0 h-full w-0.5 -translate-x-1/2 bg-neutral-700"></div>
                                <span class="relative z-10 grid h-10 sm:h-11 w-10 sm:w-11 place-items-center rounded-full bg-neutral-700 p-0.5">
                                    <img src="/images/timeline/blackrock.jpg"
                                         alt="BlackRock Logo"
                                         class="inline-block h-full w-full rounded-full object-cover object-center"/>
                                </span>
                            </div>
                            <div class=mb-8>
                                <h2 class="text-xl font-bold">BlackRock</h2>
                                <h3 class="text-base font-light italic text-neutral-700 mb-2">2021 -
                                    2022</h3>
                                <p class="text-base mb-2">
                                    <a class="font-bold text-storm hover:text-storm-light"
                                       href="https://www.blackrock.com/uk">BlackRock
                                        <img class="inline-block my-1 w-4 h-4 items-center"
                                             src="/images/icons/external-link.png"
                                             alt="external link"/>
                                    </a> is building best-in-class investment tooling.
                                </p>
                                <p class="text-base">
                                    At Blackrock, I worked on unifying our post-trade reconciliation tooling into a
                                    single source of truth. I was closely working with business analysts and existing
                                    engineering teams to ensure complete feature parity across existing systems. Our
                                    platform enabled a self-service, rules driven approach to data analysis and
                                    reporting which did not exist at the time.
                                </p>
                            </div>
                        </div>
                        <div class="group flex gap-x-4">
                            <div class="relative">
                                <div class="absolute left-1/2 top-0 h-full w-0.5 -translate-x-1/2 bg-neutral-700"></div>
                                <span class="relative z-10 grid h-10 sm:h-11 w-10 sm:w-11 place-items-center rounded-full bg-neutral-700 p-0.5">
                                    <img src="/images/timeline/jpmchase.jpg"
                                         alt="JPMorgan Chase Logo"
                                         class="inline-block h-full w-full rounded-full object-cover object-center"/>
                                </span>
                            </div>
                            <div class=mb-8>
                                <h2 class="text-xl font-bold">JPMorganChase</h2>
                                <h3 class="text-base font-light italic text-neutral-700 mb-2">2018 -
                                    2021</h3>
                                <p class="text-base mb-2">
                                    <a class="font-bold text-storm hover:text-storm-light"
                                       href="https://www.jpmorganchase.com">JPMorganChase
                                        <img class="inline-block my-1 w-4 h-4 items-center"
                                             src="/images/icons/external-link.png"
                                             alt="external link"/>
                                    </a> is building a complete financial platform, covering investments, banking, risk,
                                    research and more.
                                </p>
                                <p class="text-base">
                                    At JPMC my exposure ranged from delivering a firm-wide controls and review suite
                                    which ensured application and team compliance, continuously ingesting and processing
                                    petabytes of data generated by internal applications, as well as, working directly
                                    with our trade teams on our Spectrum trade platform, enabling first-class trade
                                    tooling.
                                </p>
                            </div>
                        </div>
                        <div class="group flex gap-x-4">
                            <div class="relative">
                                <span class="relative z-10 grid h-10 sm:h-11 w-10 sm:w-11 place-items-center rounded-full bg-neutral-700 p-0.5">
                                    <img src="/images/timeline/mtc.png"
                                         alt="MTC Media Logo"
                                         class="inline-block h-full w-full rounded-full object-cover object-center"/>
                                </span>
                            </div>
                            <div class="mb-2">
                                <h2 class="text-xl font-bold">MTC Media</h2>
                                <h3 class="text-base font-light italic text-neutral-700 mb-2">2017 -
                                    2018</h3>
                                <p class="text-base mb-2">
                                    <a class="font-bold text-storm hover:text-storm-light"
                                       href="https://www.mtc.co.uk">MTC Media
                                        <img class="inline-block my-1 w-4 h-4 items-center"
                                             src="/images/icons/external-link.png"
                                             alt="external link"/>
                                    </a> is building bespoke e-commerce solutions for every business.
                                </p>
                                <p class="text-base">
                                    At MTC, I worked on improving our internal onboarding platform. Adding features such
                                    as guided training, profiles and comment systems. I additionally, assisted with the
                                    creation and maintenance of an internal development framework which enabled
                                    one-click setup and deployments for new customers.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="mb-4">
                    <h1 class="text-2xl font-bold my-4">What I've worked with</h1>
                    <div class="text-base">
                        <p class="mb-2">
                            <span class="font-bold">Programming:</span> Java, Spring Boot, JavaScript, Typescript,
                            Vue.js, Astro, TailwindCSS
                        </p>
                        <p class="mb-2">
                            <span class="font-bold">Cloud:</span> AWS(EC2, S3, Lambda, Aurora), Kubernetes, Openshift,
                            Terraform, Ansible
                        </p>
                        <p class="mb-2">
                            <span class="font-bold">Database:</span> Oracle, PostgreSQL, Couchbase, SQLite
                        </p>
                        <p class="mb-2">
                            <span class="font-bold">Other:</span> Kafka, RabbitMQ, Redis, gRPC, Docker, git
                        </p>
                        <p class="mb-2">
                            <span class="font-bold">Industry Knowledge:</span> Payments, Trading, Financial Risk and
                            Compliance, Cybersecurity
                        </p>
                        <p class="mb-2">
                            <span class="font-bold">Currently Learning:</span> Golang, React, Next.js
                        </p>
                    </div>
                </section>
                <section class="mb-4">
                    <h1 class="text-2xl font-bold my-4">Elsewhere</h1>
                    <ul class="text-base">
                        <li>
                            <a class="font-bold text-storm hover:text-storm-light"
                               href="https://github.com/anthonygrimes">GitHub
                                <img class="inline-block my-1 w-4 h-4 items-center"
                                     src="/images/icons/external-link.png"
                                     alt="external link"/>
                            </a>
                        </li>
                        <li>
                            <a class="font-bold text-storm hover:text-storm-light"
                               href="https://www.linkedin.com/in/anthony-grimes/">LinkedIn
                                <img class="inline-block my-1 w-4 h-4 items-center"
                                     src="/images/icons/external-link.png"
                                     alt="external link"/></a>
                        </li>
                    </ul>
                </section>
            </main>
        </div>
    </div>
</BaseLayout>
