---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="flex grow items-center justify-center">
        <h1 class="text-3xl sm:text-4xl lg:text-5xl">Hi! I'm <span class="font-bold text-orange-600">Anthony Grimes</span>.</h1>
    </div>
</BaseLayout>
