---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="flex grow items-center justify-center">
        <h1 class="text-3xl sm:text-4xl lg:text-5xl">Contact form submitted, thank you for reaching out!</h1>
    </div>
</BaseLayout>
