---
const date = new Date();
---

<footer class="flex mx-auto mb-1">
    <p class="text-tiny sm:text-sm text-neutral-700">&copy; {date.getFullYear()} Anthony Grimes. All rights reserved.</p>
</footer>