---
import HeaderLink from "./HeaderLink.astro";
---

<header class="mx-auto my-4">
    <nav class="text-base sm:text-xl space-x-8">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/contact">Contact Me</HeaderLink>
    </nav>
</header>