---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
<head>
    <BaseHead></BaseHead>
</head>
<body class="flex flex-col min-w-svw min-h-svh bg-white text-black antialiased md:subpixel-antialiased">
<Header/>
<slot/>
<Footer/>
</body>
</html>